<div class="container">
    <div class="item">
        <div style="position:top; top:300px; left:0px;">
        <img class="img-responsive" src="../../assets/cachorro-aviador-wallpaper.jpg" alt="Nossa Hitória">
        <div class="carousel-caption">          
  <div class="col-md-6 px-0">
    <h1 class="display-8 font-italic">Nossa História</h1>    
      <p class="lead my-3">Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Mé faiz elementum girarzis, nisi eros vermeio.

          Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Aenean aliquam molestie leo, vitae iaculis nisl. Viva Forevis aptent taciti sociosqu ad litora torquent. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
      </p>
        <p class="lead mb-3"><a href="#" class="text-white font-weight-bold">Continue reading...</a>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>


      